/* Card.module.css */
.scene {
    perspective: 1000px;
    width: 145px;
    height: 250px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.face,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.back {
    background-color: #1e293b; /* slate-800 */
    /* border: 2px solid #334155; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    background-color: white;
    transform: rotateY(180deg);
}
